$color-primario: #cfcfcf; 
$color-secundario: #3ceeee; 
$color-resaltado: #2b89c4;
$color-neutral-claro: #2e86c1 ; 
$color-neutral-oscuro: #023d64; 
$text-color: #000000;
$font-family: Arial, sans-serif;
$border-radius: 15px;
$shadow-color: rgba(0, 0, 0, 0.1);
$hover-shadow: rgba(0, 0, 0, 0.3);
$transition-time: 0.3s;

